img {
  max-width: 100% !important;
}
/* Content-Municipio - Questionários
----------------------------------------------- */
.form-allowed-tags {
  display: none;
}
.single-municipio .site-content {
  width: 100%;
}
#mapa {
  float: left;
  width: 240px;
  margin-bottom: -20px;
}
#fichaibge {
  width: 210px;
  margin-top: 340px;
}
#fichaibge th,
#fichaibge td {
  vertical-align: middle;
  background: #fff;
}
#fichaibge table span {
  display: block;
  white-space: normal;
}

#fichaae {
  width: 630px;
  float: right;
}
#fichaae .nav-tabs .active a {
  background: #F5F5F5;
}
.search #fichaae {
  width: 355px;
}
.fichas .titulo {
  font-size: 1.2em;
  font-weight: bold;
}
.fichas hr {
  margin-bottom: 10px;
}

#fichaae .wpcf-field-name {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  display:block;
}

#fichaae .wpcf-field-value {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 10px;
}

/*.anexos {
    margin-top: 20px;
    display: block;
    background-color: #E6E6E6;
    padding: 40px;
    border: 1px solid #FFF;
    border-radius: 5px;
}

.anexos h2 {
    margin-bottom: 10px;
    color: rgb(106, 106, 106);
    text-transform: uppercase;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 0.857142857rem;
    font-weight: 200;
}

.arquivo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.arquivo a{
    color: #444450;
}

.arquivo li:first-child{
    list-style-type: circle;
    }
*/
/*Arquivos*/
.arquivo.thumbnail {
  background: #fff;
  text-align: center;
  height: 235px;
  width: 185px;
  overflow: hidden;
}
.arquivo.thumbnail .img-ico {
  display: block;
  width: 64px;
  height: 64px;
  text-indent: -9000px;
  margin: 10px auto;
}
.arquivo.thumbnail.pdf .img-ico {
  background: url(img/ico/pdf.png) no-repeat center center;
}
.arquivo.thumbnail.ord .img-ico,
.ext .img-ico {
  background: url(img/ico/doc.png) no-repeat center center;
}
.arquivo.thumbnail.cel .img-ico,
.eet .img-ico {
  background: url(img/ico/xls.png) no-repeat center center;
}
.arquivo.thumbnail.int .img-ico,
.ion .img-ico {
  background: url(img/ico/ppt.png) no-repeat center center;
}
/* Search */
.search #primary {
  width: 100%;
}
.search #fichaibge {
  margin: 30px 0 0 0;
  width: 650px;
  position: relative;
}
.search #fichaibge .ladoa,
.search #fichaibge .ladob {
  width: 47.5%;
}
.search #fichaibge .ladob {
  margin: -415px 0 0 52.5%;
}
.search .media .pull-left {
  margin-right: 20px;
}

/* FAT SIDEBAR */
.fat-widgets {
  width:95% !important;
}

/*IE*/
.ie #masthead {background:#74A200;}
.ie .site-content {
float: left;
}
.ie .template-front-page .widget-area {
float: right;
width: 50%;
}

.ie .first {
float: left;
width: 51.875%;
margin-bottom: 24px;
/*border:1px solid red;*/

}

.ie .first .widget, .ie .second .widget  {
/*border:1px solid green;*/
width:100% !important;
}

.ie .second {
float: right !important;
width: 39% !important;
margin: 0 0 24px;
/*border:1px solid blue;*/
}

/* Mapa da Home */
/* Interface de switch */

#map-ui {
  position:absolute;
  bottom:20px;right:10px;
  list-style:none;
  margin:0;padding:0;
  z-index:99;
  border-bottom: 1px solid #BBB;
  }
  #map-ui a {
    font:normal 13px/18px 'Helvetica Neue',Helvetica,sans-serif;
    background:#FFF;
    color:#3C4E5A;
    display:block;
    margin:0;padding:0;
    border:1px solid #BBB;
    border-bottom-width:0;
    max-width:80px;
    padding:10px;
    text-decoration:none;
    }
  #map-ui a:hover { background:#ECF5FA; }
  #map-ui li:last-child a {
    border-bottom-width:1px;
    -webkit-border-radius:0 0 3px 3px;
            border-radius:0 0 3px 3px;
    }
  #map-ui li:first-child a {
    -webkit-border-radius:3px 3px 0 0;
            border-radius:3px 3px 0 0;
          }
  #map-ui a.active {
    background:#3887BE;
    border-color:#3887BE;
    color:#FFF;
    }
   
/* Legenda */
.map-legends {
  position:absolute;
  bottom:20px;left:10px;
  max-height:200px;
  max-width:200px;
  list-style:none;
  z-index:99;
}

.leg_elaboracao .marker {
	padding-left: 20px;

	background-size:8px 8px;
	background-position: left top;
}

.leg_complano .marker {
	padding-left: 20px;
	background:#7FED0E no-repeat ;
	background-size:8px 8px;
	background-position: left top;
}

.leg_semplano .marker {
	padding-left: 20px;
	background:#EDF8E9 no-repeat ;
	background-size:8px 8px;
	background-position: left top;
}

.leg_gestor .marker {
	padding-left: 20px;
	background:url('img/marker.png') no-repeat;
  background-size: round auto;
}


/* HEADER */
#page {
  margin-top: 30px;
  padding: 0 !important;
}

#main {
  padding-left: 20px;
  padding-right: 20px;
}

#masthead {
  padding:0;
  width:960px;
  height:140px;
  z-index: 9000;

}

#masthead #site-logo {
  width:120px;
  height:120px;
  background:#fff url('img/logo-small.jpg') no-repeat center center;
  background-size:120px 120px;
  margin-top:20px;
  margin-left:20px;
  float:left;
}

header #searchform {
	width: 400px;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

#masthead #site-navigation {
  height: 60px;
  width:760px;
  margin-top:24px;
  margin-right: 20px;
  background-color: #02A9E0;
  float:right;
  border-top: 1px soli
  d #FFF;
}

#masthead li {
   font-size: 13px;
   height:auto;
}

#masthead li a {
   padding-top:10px;
   padding-left:10px;
   padding-bottom: 15px;
   text-align: center;
}

#masthead .sub-menu li a {
    margin-top:0px;
}

#masthead li li {
    height: auto;
}

#masthead li ul li a {
	background-color: #02A9E0;
}

#masthead li ul li a:hover {
	background-color: #31CBFD;
}

/* BODY */
body {
  background-color: #f7fafe;
}

/* Categorias */
.category-sticky h1 {
  font-size:16px;
  font-weight: bold;
}

.category-sticky img {
  width:640px;
  height:480px;
}

.category-regular h1 {
  font-size:11px;
}
.category-regular img {
  width:240px;
  height:160px;
}

.category-sticky {
  float:left; /* important */
  position:relative; /* important(so we can absolutely position the description div */
  clear:both;
}

.category-regular {
  float:left;
  position:relative; /* important(so we can absolutely position the description div */
  margin-right:40px;
}
.category .category-title-wrapper {
  position:absolute; /* absolute position (so we can position it where we want)*/
  bottom:0px; /* position will be on bottom */
  left:0px;
  width:100%;
  /* styling bellow */
  background-color:black;
  font-family: 'tahoma';
  font-size:15px;
  color:white;
  opacity:0.6; /* transparency */
  filter:alpha(opacity=60); /* IE transparency */
}
.category h1 {
  padding:10px;
  margin:0px;
}

/* FRONTPAGE */

.frontpage-blurb {
    background:#fff url('img/blurb.png') no-repeat top left;
    color: #555;
    font-size: 14px;
    padding-left: 30px;
    margin-bottom: 15px;
}

.below-map {
    margin-top: 20px;
}

.template-front-page article {
	border: 0;
}

.noticia-principal {
	margin-top: 10px;
}

.noticia-principal a.titulo {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 24px;
}

.noticia-principal a:hover.titulo, a:active.titulo{
	color: #000;
}

.noticia-principal a.categoria {
	color: #333;
	padding: 2px;
	display: block;
	text-decoration: none;
	border: 1px solid #FFF;
	border-radius: 3px;
	background-color: #EEE;
	margin-bottom: 10px;
	width: 70%;
}

.noticia-principal {
	margin-top: 20px;
	border-bottom: 1px solid #EEE;
}

.noticia-secundaria {
	margin-top: 10px;
	padding-bottom: 10px;
}

.noticia-secundaria a.titulo-sec {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin-bottom: 10px;

}

.noticia-secundaria a:hover.titulo-sec, a:active.titulo-sec {
	color: #000;
}

.noticia-secundaria a.categoria {
	color: #333;
	padding: 2px;
	display: block;
	text-decoration:none;
	border: 1px solid #FFF;
	border-radius: 3px;
	background-color: #EEE;
	margin-bottom: 10px;
	width: 70%;
}

.noticia-secundaria {
	margin-top: 20px;
	border-bottom: 1px solid #EEE;
}

/*Sobreposição dos valores dos elementos*/

a, a:visited {
	color:#02A9E0; 
}

a:hover, a:active {
	color: #017094;
}

