img {
  max-width: 100% !important;
}

h1.entry-title{
	color: #02a6d9;
	font-family: "Open Sans";
	font-weight: 700;
	margin-top: -10px;
	margin-bottom: -20px
}

/* Content-Municipio - Questionários
----------------------------------------------- */
.form-allowed-tags {
  display: none;
}
.single-municipio .site-content {
  width: 100%;
}
#mapa {
  float: left;
  width: 240px;
  margin-bottom: -20px;
}
#fichaibge {
  width: 210px;
  margin-top: 340px;
}
#fichaibge th,
#fichaibge td {
  vertical-align: middle;
  background: #fff;
}

#parte1 td, #parte2 td {
	width: 50%
}

#fichaae {
  width: 66%;
  float: right;
  background: none;
  border: none;
  padding-left: 19px;
	padding-right: 19px;
	padding-top: 0px !important;
	padding-bottom: 0px;
	box-shadow: none;
}

#fichaae .nav-tabs a {
  background: #87b7c4;
  color: #15556e;
}

#fichaae .nav-tabs .active a {
  background: #a2daeb;
  color: #15556e;
}
.search #fichaae {
  width: 355px;
}

.tab-content {
	margin-top: -20px;
}

#parte1.tab-pane, #parte2.tab-pane, #parte3.tab-pane {
	
	padding: 20px;
	background: -moz-linear-gradient(top, rgba(162,218,235,1) 0%, rgba(131,191,233,0) 83%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(162,218,235,1)), color-stop(83%,rgba(131,191,233,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(162,218,235,1) 0%,rgba(131,191,233,0) 83%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(162,218,235,1) 0%,rgba(131,191,233,0) 83%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(162,218,235,1) 0%,rgba(131,191,233,0) 83%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(162,218,235,1) 0%,rgba(131,191,233,0) 83%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2daeb', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

.fichas .titulo {
  font-size: 1.2em;
  font-weight: bold;
}
.fichas hr {
  margin-bottom: 10px;
  background: #658286;
  border: none;
}

#fichaae .wpcf-field-name {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  display:block;
}

#fichaae .wpcf-field-value {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 10px;
}

.table th {
	border: 1px solid #9ac0cb;
}

.fichas table {
    border-collapse: collapse;
    border-color: #9ac0cb;
    border: none;
}
.fichas table td, table th {
    border: 1px solid #9ac0cb;
}
.fichas table tr:first-child th {
    border-top: 0;
}
.fichas table tr:last-child td {
    border-bottom: 0;
}
.fichas table tr td:first-child,
.fichas table tr th:first-child {
    border-left: 0;
    border-bottom: 0;
}
.fichas table tr td:last-child,
.fichas table tr th:last-child {
    border-right: 0;
    border-top: 0;
}

.ibge-Não {
	background-color: #f90000;
	margin: 2px;
}

.ibge-Sim {
	background-color: #60b00f;
	margin: 2px;
}

.ibge-Multi {
	background-color: #aaa;
	margin: 3px 2px;
}

.ibge-Não.sabe, .ibge-Não.pretende {
	background-color: #fd6208;
	margin: 2px;
}

.resposta.label { 
	white-space:normal;
}

/*.anexos {
    margin-top: 20px;
    display: block;
    background-color: #E6E6E6;
    padding: 40px;
    border: 1px solid #FFF;
    border-radius: 5px;
}

.anexos h2 {
    margin-bottom: 10px;
    color: rgb(106, 106, 106);
    text-transform: uppercase;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 0.857142857rem;
    font-weight: 200;
}

.arquivo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.arquivo a{
    color: #444450;
}

.arquivo li:first-child{
    list-style-type: circle;
    }
*/
/*Arquivos*/
.arquivo.thumbnail {
  background: #fff;
  text-align: center;
  height: 235px;
  width: 185px;
  overflow: hidden;
}
.arquivo.thumbnail .img-ico {
  display: block;
  width: 64px;
  height: 64px;
  text-indent: -9000px;
  margin: 10px auto;
}
.arquivo.thumbnail.pdf .img-ico {
  background: url(img/ico/pdf.png) no-repeat center center;
}
.arquivo.thumbnail.ord .img-ico,
.ext .img-ico {
  background: url(img/ico/doc.png) no-repeat center center;
}
.arquivo.thumbnail.cel .img-ico,
.eet .img-ico {
  background: url(img/ico/xls.png) no-repeat center center;
}
.arquivo.thumbnail.int .img-ico,
.ion .img-ico {
  background: url(img/ico/ppt.png) no-repeat center center;
}
/* Search */
.search #primary {
  width: 100%;
}
.search #fichaibge {
  margin: 30px 0 0 0;
  width: 650px;
  position: relative;
}
.search #fichaibge .ladoa,
.search #fichaibge .ladob {
  width: 47.5%;
}
.search #fichaibge .ladob {
  margin: -415px 0 0 52.5%;
}
.search .media .pull-left {
  margin-right: 20px;
}

/* FAT SIDEBAR */
.fat-widgets {
  width:100% !important;
  clear: both;
}

.fat-widgets .widget.text_widget {
	width: 100%;
}

/*IE*/
.ie #masthead {background:#74A200;}
.ie .site-content {
float: left;
}
.ie .template-front-page .widget-area {
float: right;
width: 50%;
}

.ie .first {
float: left;
width: 51.875%;
margin-bottom: 24px;
/*border:1px solid red;*/

}

.ie .first .widget, .ie .second .widget  {
/*border:1px solid green;*/
width:100% !important;
}

.ie .second {
float: right !important;
width: 39% !important;
margin: 0 0 24px;
/*border:1px solid blue;*/
}

/* Mapa da Home */
/* Interface de switch */

#map-ui {
  position:absolute;
  bottom:20px;right:10px;
  list-style:none;
  margin:0;padding:0;
  z-index:99;
  border-bottom: 1px solid #BBB;
  }
  #map-ui a {
    font:normal 13px/18px 'Helvetica Neue',Helvetica,sans-serif;
    background:#FFF;
    color:#3C4E5A;
    display:block;
    margin:0;padding:0;
    border:1px solid #BBB;
    border-bottom-width:0;
    max-width:80px;
    padding:10px;
    text-decoration:none;
    }
  #map-ui a:hover { background:#ECF5FA; }
  #map-ui li:last-child a {
    border-bottom-width:1px;
    -webkit-border-radius:0 0 3px 3px;
            border-radius:0 0 3px 3px;
    }
  #map-ui li:first-child a {
    -webkit-border-radius:3px 3px 0 0;
            border-radius:3px 3px 0 0;
          }
  #map-ui a.active {
    background:#3887BE;
    border-color:#3887BE;
    color:#FFF;
    }
   
/* Legenda */
.map-legends {
  position:absolute;
  bottom:20px;left:10px;
  max-height:200px;
  max-width:200px;
  list-style:none;
  z-index:99;
}

.leg_elaboracao .marker {
	padding-left: 20px;

	background-size:8px 8px;
	background-position: left top;
}

.leg_complano .marker {
	padding-left: 20px;
	background:#7FED0E no-repeat ;
	background-size:8px 8px;
	background-position: left top;
}

.leg_semplano .marker {
	padding-left: 20px;
	background:#EDF8E9 no-repeat ;
	background-size:8px 8px;
	background-position: left top;
}

.leg_gestor .marker {
	padding-left: 20px;
	background:url('img/marker.png') no-repeat;
  background-size: round auto;
}

/* MapTooltip */
.map-tooltip .munic {
  display:block;
  max-width:128px;
  float:left;
}

.map-tooltip .marker-Não {
  width:24px;
  height:18px;
  display:block;
  float:right;
  background-image:url('img/plano0.png');
}

.map-tooltip .marker-Sim {
  width:24px;
  height:18px;
  display:block;
  float:right;
  background-image:url('img/plano1.png');
}

/* HEADER */
#page {
  margin-top: 30px;
  padding: 0 !important;
  background: #fff url('img/logo-bg-menor.png') top right no-repeat scroll;
}

#main {
  padding-left: 20px;
  padding-right: 20px;
}

#masthead {
  padding:0;
  width:960px;
  height:140px;
  z-index: 9000;

}

#masthead #site-logo {
  width:120px;
  height:120px;
  background:#fff url('img/logo-small.jpg') no-repeat center center;
  background-size:120px 120px;
  margin-top:20px;
  margin-left:20px;
  float:left;
}

#masthead #tagline {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 20px;
	color: #696a69;
	float: left;
	margin-left: 200px;
	position: absolute;
	margin-top: 20px;
	width: 395px;
	line-height: 24px;
}

#masthead #tagline span {
	margin-left: 30px;
	margin-top: -10px;
}

header #searchform {
	width: 342px;
	float: right;
	margin-top: 50px;
	margin-right: 20px;
}

header #searchform div {
	padding: 10px;
	background-color: #fa0542;
	border-radius: 10px;
}

header #searchform div #searchsubmit {
	width: 18%;
}

#masthead #site-navigation {
  height: 60px;
  width:760px;
  margin-top: -10px;
  margin-right: 20px;
  background-color: #fa0542;
  float:right;
  border-top: 1px solid #FFF;
  border-radius: 10px;
}

#masthead #site-navigation li a {
	color: #fff;
	font-weight: bold;
}

#masthead li {
   font-size: 13px;
   height:auto;
}

#masthead #site-navigation li {
	border-right: 1px solid #fff;
	height: 60px;
	padding-right: 10px;
}

#masthead #site-navigation li:last-child {
	border: none;
}

#masthead li a {
   padding-top: 20px;
   padding-left:10px;
   padding-bottom: 15px;
   text-align: center;
}

#masthead .sub-menu li a {
    margin-top:0px;
}

#masthead li li {
    height: auto;
}

#masthead li ul li a {
	background-color: #fa0542;
}

#masthead li ul li a:hover {
	background-color: #f9819d;
}

/* BODY */
body {
  background-color: #f7fafe;
}

/* Categorias */

.category .archive-header{
	border-bottom: none;
	margin-bottom: 0;
}

.archive-title {
  font-size: 22px;
  background-color: transparent;
  clear: both;
  color: #333;
  display: block;
  font-weight: normal;
  height: 26px;
  line-height: 26px;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow-y: visible;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
}

.category-sticky h1 {
  font-size:16px;
  font-weight: bold;
}

.category-sticky img {
  width:640px;
  height:320px;
}

.category-regular h1 {
  font-size:15px;
}
.category-regular img {
  width:300px;
  height:150px;
}

.category-sticky {
  float:left; /* important */
  position:relative; /* important(so we can absolutely position the description div */
  clear:both;
  margin-bottom:20px !important;
}

.category-regular {
  float:left;
  position:relative; /* important(so we can absolutely position the description div */
  margin:11px !important;
}
.category .category-title-wrapper {
  position:absolute; /* absolute position (so we can position it where we want)*/
  bottom:29px; /* position will be on bottom */
  left:0px;
  width:100%;
  /* styling bellow */
  background-color:black;
  font-family: 'Trebuchet MS', Helvetica;
  font-size:18px;
  color:white;
  opacity:0.6; /* transparency */
  filter:alpha(opacity=60); /* IE transparency */
}
.category h1 {
  padding:10px;
  margin:0px;
}

/* FRONTPAGE */

.frontpage-blurb {
    background:#fff url('img/blurb.png') no-repeat top left;
    color: #555;
    font-size: 14px;
    padding-left: 30px;
    margin-bottom: 15px;
}

.below-map {
    margin-top: 20px;
}

.below-map > div:first-child {
	background-color: #d6ebf9;
	padding: 20px;
	margin-bottom: 10px;
}

.below-map > div:first-child .widget-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-top: 0;
	font-size: 14px;
	color: #3887BE;
}

.below-map > div:first-child .textwidget {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #838383;
}

.below-map div:nth-child(2), .below-map div:nth-child(2) a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #5ebb01;
	margin-top: 10px;
	margin-bottom: 10px;
}

.below-map div:nth-child(3) {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	margin-top:10px;
	color: #2887be;
}

.below-map div:nth-child(3) a {
	color: #646464;
}

.template-front-page article {
	border: 0;
}

.noticia-principal {
	margin-top: 10px;
}

.noticia-principal a.titulo {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 24px;
}

.noticia-principal a:hover.titulo, a:active.titulo{
	color: #000;
}

.noticia-principal .label {
	color: #fff;
	background-color: #aaa;
	margin-bottom: 10px;
}

.noticia-principal {
	margin-top: 20px;
	border-bottom: 1px solid #EEE;
}

.noticia-secundaria {
	margin-top: 10px;
	padding-bottom: 10px;
}

.noticia-secundaria a.titulo {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin-bottom: 10px;

}

.noticia-secundaria a:hover.titulo-sec, a:active.titulo-sec {
	color: #000;
}

.noticia-secundaria .label {
	color: #fff;
	background-color: #aaa;
	margin-bottom: 10px;
}

.noticia-secundaria {
	margin-top: 20px;
	border-bottom: 1px solid #EEE;
}

/*Questionário Sociedade*/

#parte3 fieldset {
	clear:both;
	margin-bottom: 15px;
	}
	
#parte3 legend {
	font-size: 14px;
	border-bottom: 0px;
	line-height: 20px;
	margin-bottom: 15px !important;
}

#parte3 .form-info {
	font-size: 12px;
	color:#555;
	margin-bottom: 20px;
}

#parte3 input[type="submit"]{
	margin: 10px;
	font-size: 14px;
	position: center;
	float: right;}

/*Sobreposição dos valores dos elementos*/

a, a:visited {
	color:#00aade; 
}

a:hover, a:active {
	color: #017094;
}

.site-content article {
	border-bottom:0;
}

/*Hack do Content slider*/

.cs-title {
	width: 99% !important;
}
