#autocomplete {
        display: block;
        position:absolute;
        z-index:100;
	width:255px;
	font-size:80%;
	color:#555;
	background-color:#fff;

}
#autocomplete ul {
        margin: 0;
        padding: 0;
        list-style: none;
}
#autocomplete li{
        display:block;
        clear:both;
}
#autocomplete a {
        width:234px;
        display: block;
        padding: .2em .3em;
        text-decoration: none;
        color: #36C;
        background-color: #ededed;
        text-align: left;
}
#autocomplete a:hover{
        color: #fff;
        background-color: #373737;
        background-image: none;
}
.screen-reader-text {
	display:none;
}
