.login {
	background-color: #fff !important;
}
.login #login {
	margin-top:-10px;
}
.login h1 {
	margin-left:40px;
}
.login h1 a {
	background: url('img/logo-small.jpg') no-repeat !important; 
	height:240px;
}