<?xml version="1.0" encoding="UTF-8"?>
<types>
    <groups>
        <group>
            <ID>401</ID>
            <post_content></post_content>
            <post_title>Munic2011</post_title>
            <post_excerpt></post_excerpt>
            <post_type>wp-types-group</post_type>
            <post_status>publish</post_status>
            <meta>
                <_wp_types_group_post_types>,municipio,</_wp_types_group_post_types>
                <_wp_types_group_terms>all</_wp_types_group_terms>
                <_wp_types_group_templates>all</_wp_types_group_templates>
                <_wp_types_group_fields>,a187,a171,a195,a188,a183,a184,a185,a186,a168,a169,a167,a489,a173,a174,a175,a176,a177,a178,a179,a180,a181,</_wp_types_group_fields>
            </meta>
        </group>
    </groups>
    <fields>
        <field>
            <id>a187</id>
            <slug>a187</slug>
            <type>radio</type>
            <name>Possui Plano</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-f1c8973f0caf7fd5128d0a9faedf4e3d-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-f1c8973f0caf7fd5128d0a9faedf4e3d-2>
                    <wpcf-fields-radio-option-4f4e2b23b63dbab5edbc3e9da5da0b6b-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-4f4e2b23b63dbab5edbc3e9da5da0b6b-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a171</id>
            <slug>a171</slug>
            <type>radio</type>
            <name>Sistema Municipal de Ensino</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-7b2bc9c02a6c1322e6aa348971746ec7-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-7b2bc9c02a6c1322e6aa348971746ec7-2>
                    <wpcf-fields-radio-option-6351e0f828d6cc17bc70f3e0d3bca679-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-6351e0f828d6cc17bc70f3e0d3bca679-1>
                    <default>no-default</default>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a195</id>
            <slug>a195</slug>
            <type>radio</type>
            <name>Fundo Municipal de Educação</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-1a67d6a9c16c9b00df19052a26cb559d-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-1a67d6a9c16c9b00df19052a26cb559d-2>
                    <wpcf-fields-radio-option-3e1b1365217571e9248b7ac7cde8ccca-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-3e1b1365217571e9248b7ac7cde8ccca-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a188</id>
            <slug>a188</slug>
            <type>radio</type>
            <name>Conselho Municipal de Educação</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-2ca3604d2c4c2ed738f44569624efeb4-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-2ca3604d2c4c2ed738f44569624efeb4-2>
                    <wpcf-fields-radio-option-a3a6545816d8514e90e64918631c994e-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-a3a6545816d8514e90e64918631c994e-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a183</id>
            <slug>a183</slug>
            <type>radio</type>
            <name>Conselho de Controle e Acompanhamento Social do FUNDEB</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-89fd5ecbdfbc702f5a8fb878a26a607e-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-89fd5ecbdfbc702f5a8fb878a26a607e-2>
                    <wpcf-fields-radio-option-95aff2aca8ed14b5c244eac242e25997-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>Não</display_value>
                    </wpcf-fields-radio-option-95aff2aca8ed14b5c244eac242e25997-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a184</id>
            <slug>a184</slug>
            <type>radio</type>
            <name>Conselhos escolares</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-a4e3fe73b897df219b5412246be7be67-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-a4e3fe73b897df219b5412246be7be67-2>
                    <wpcf-fields-radio-option-e818dd0ddb5dcc9b494190b7c1b25fc1-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>Não</display_value>
                    </wpcf-fields-radio-option-e818dd0ddb5dcc9b494190b7c1b25fc1-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a185</id>
            <slug>a185</slug>
            <type>radio</type>
            <name>Conselho de alimentação escolar</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-e7523afdbb98fe7e3160bdf9884b91c7-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-e7523afdbb98fe7e3160bdf9884b91c7-2>
                    <wpcf-fields-radio-option-686441d4423402b63cee394cc935f5ed-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>Não</display_value>
                    </wpcf-fields-radio-option-686441d4423402b63cee394cc935f5ed-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a186</id>
            <slug>a186</slug>
            <type>radio</type>
            <name>Conselho de transporte escolar</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-d3eb6f7e30cb2d5305c2f92f3f6517cf-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-d3eb6f7e30cb2d5305c2f92f3f6517cf-2>
                    <wpcf-fields-radio-option-e55cb756e8f1635bd320e01b20abeb52-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-e55cb756e8f1635bd320e01b20abeb52-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a168</id>
            <slug>a168</slug>
            <type>radio</type>
            <name>Combate à discriminação nas escolas</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-3d3c3823835d37ddeec62fb97b76d0ca-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-3d3c3823835d37ddeec62fb97b76d0ca-2>
                    <wpcf-fields-radio-option-488767efa12948ddb7848ef974ceebaf-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-488767efa12948ddb7848ef974ceebaf-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a169</id>
            <slug>a169</slug>
            <type>radio</type>
            <name>Combate à violência nas escolas</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-b9312e56f5b8e45c428a3226b5354b8b-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-b9312e56f5b8e45c428a3226b5354b8b-2>
                    <wpcf-fields-radio-option-1cf5247a81a9456711d60c73b7714e5f-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-1cf5247a81a9456711d60c73b7714e5f-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a167</id>
            <slug>a167</slug>
            <type>radio</type>
            <name>Formação continuada de professores na educação especial</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-3f61004a25d637e47c319cbe71374719-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-3f61004a25d637e47c319cbe71374719-2>
                    <wpcf-fields-radio-option-90d1f65ce5aec8eb168bf78294a55b4b-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-90d1f65ce5aec8eb168bf78294a55b4b-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a489</id>
            <slug>a489</slug>
            <type>radio</type>
            <name>No município, há programa ou ações de educação em direitos humanos?</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-f0f819c9098b0ed1281d383354662db5-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-f0f819c9098b0ed1281d383354662db5-2>
                    <wpcf-fields-radio-option-db3d7d9957b7881e4d57e9926af79734-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-db3d7d9957b7881e4d57e9926af79734-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a164</id>
            <slug>a164</slug>
            <type>radio</type>
            <name>Possui Plano</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-f1c8973f0caf7fd5128d0a9faedf4e3d-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-f1c8973f0caf7fd5128d0a9faedf4e3d-2>
                    <wpcf-fields-radio-option-4f4e2b23b63dbab5edbc3e9da5da0b6b-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-4f4e2b23b63dbab5edbc3e9da5da0b6b-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a173</id>
            <slug>a173</slug>
            <type>radio</type>
            <name>Ensino fundamental</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-aa8c875e7f97ea0bc8333815211bfe43-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-aa8c875e7f97ea0bc8333815211bfe43-2>
                    <wpcf-fields-radio-option-88823bb6b8537a65ed51caebddf120bf-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-88823bb6b8537a65ed51caebddf120bf-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a174</id>
            <slug>a174</slug>
            <type>radio</type>
            <name>Educação infantil</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-1230d45880b2a75e0caca82440e6d4e7-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-1230d45880b2a75e0caca82440e6d4e7-2>
                    <wpcf-fields-radio-option-af8fa1c0af11f8cfc4838b3ae9328dc2-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-af8fa1c0af11f8cfc4838b3ae9328dc2-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a175</id>
            <slug>a175</slug>
            <type>radio</type>
            <name>Educação de jovens e adultos</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-d9d6024c6664d948b8219f8142b7fe70-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-d9d6024c6664d948b8219f8142b7fe70-2>
                    <wpcf-fields-radio-option-f9161117b2957efa1ce87f76af8d1b8c-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-f9161117b2957efa1ce87f76af8d1b8c-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a176</id>
            <slug>a176</slug>
            <type>radio</type>
            <name>Educação especial</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-efb3c4275571bc63df7e19790cf0b69f-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-efb3c4275571bc63df7e19790cf0b69f-2>
                    <wpcf-fields-radio-option-b905059506214191249296142c4df456-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-b905059506214191249296142c4df456-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a177</id>
            <slug>a177</slug>
            <type>radio</type>
            <name>Ensino médio</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-c4c68f549ff6e36a68f68f06c9e50314-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-c4c68f549ff6e36a68f68f06c9e50314-2>
                    <wpcf-fields-radio-option-b28432d6fecb4285048b118055bf5628-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-b28432d6fecb4285048b118055bf5628-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a178</id>
            <slug>a178</slug>
            <type>radio</type>
            <name>Ensino profissional</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-9e57f15406252b8d3b06e2296f8be3f7-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-9e57f15406252b8d3b06e2296f8be3f7-2>
                    <wpcf-fields-radio-option-9fac5e55048c1a8d55b013557529ab35-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-9fac5e55048c1a8d55b013557529ab35-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a179</id>
            <slug>a179</slug>
            <type>radio</type>
            <name>Ensino superior</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-79c92e03244eebc492241c8f4a0194d9-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-79c92e03244eebc492241c8f4a0194d9-2>
                    <wpcf-fields-radio-option-0d0cfd6afbb14c9b27c17d431dda1217-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-0d0cfd6afbb14c9b27c17d431dda1217-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a180</id>
            <slug>a180</slug>
            <type>radio</type>
            <name>Educação no campo</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-e6f0d0e7f2710faa1d7237d845165b64-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-e6f0d0e7f2710faa1d7237d845165b64-2>
                    <wpcf-fields-radio-option-1188481a9847e6a5d7b55eab2915bcfb-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-1188481a9847e6a5d7b55eab2915bcfb-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a181</id>
            <slug>a181</slug>
            <type>radio</type>
            <name>Educação indigena</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-02ff2f1af732202cb2d3130a9b795aaa-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-02ff2f1af732202cb2d3130a9b795aaa-2>
                    <wpcf-fields-radio-option-5f2e675c45607bee1b2ddfa00a84b319-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-5f2e675c45607bee1b2ddfa00a84b319-1>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
        <field>
            <id>a182</id>
            <slug>a182</slug>
            <type>radio</type>
            <name>Educação ambiental</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-4f76575c678e2e08471131e1a4d2db41-2>
                        <title>Sim</title>
                        <value>Sim</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-4f76575c678e2e08471131e1a4d2db41-2>
                    <wpcf-fields-radio-option-9def2d67a97f2bdb8bbede1b7367bc31-1>
                        <title>Não</title>
                        <value>Não</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-9def2d67a97f2bdb8bbede1b7367bc31-1>
                    <default>no-default</default>
                </options>
                <display>db</display>
                <is_new>1</is_new>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
        </field>
    </fields>
</types>
